<app-navbar></app-navbar>
<span class="cartBox" (click)="showCart()" ><i class="fa fa-caret-left"></i></span>

<ng-template #headerPicker let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title">Speaker Detail</h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
       <div class="row">
            <div class="col-sm-4">
                <div class="idcard text-center">
                    <img src="../../../../assets/images/user.png" alt="Avatar" style="width:200px; height: 200px;">
                    <div class="idcontainer">
                        <h4><b>{{currentSpeaker.speakerFName}} {{currentSpeaker.speakerLName}}</b></h4> 
                        <p class="mb0 fs13 color-blue">{{currentSpeaker.speakerType}}</p> 
                        <p class="mb0 fs13 color-blue">{{currentSpeaker.speakerOrganization}} {{',' + currentSpeaker.speakerPosition}}</p> 
                        <p class="mb0 fs13 color-blue">{{currentSpeaker.speakerMobile}}</p> 
                    </div>
                </div>
            </div>
            <div class="col-sm-8" style="max-height: 270px; overflow: auto;">
                <div class="col-sm-12 pl0 pr0">
                        <h6>Bio:</h6>
                        <hr>
                        <p class="text-justify fs13">{{currentSpeaker.speakerBio}}</p>
                </div>
                <div class="col-sm-12 pl0 pr0">
                    <h6>Sessions:</h6>
                    <hr>
                    <div class="col-sm-12 pl0 pr0"> 
                        <div class="col-sm-12 speakerSessionList" *ngFor="let session of currentSpeakerSession" ngbTooltip="{{session.name}}">
                            <div style="width:80%" class="ellipses" >
                                {{session.name}} [{{session.code}}]
                                
                            </div>
                            <span class="pull-right" style="position: relative; margin-top: -19px;"> {{session.startTime | date : 'dd/MM/yyyy'}}</span>
                        </div>
                    </div>  
                </div>
            </div>
       </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn btn-blue btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
<!-- <button (click)="toggleSpinner()">Toggle</button>   -->
<!-- <div class="col-sm-12" *ngIf="obj.loading">
    <sk-wandering-cubes></sk-wandering-cubes>       
</div>     -->

<div id="side-panel" class="visible">
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-block filter-block">
                            <b>Filters</b> <span class="pull-right color-blue txt cursor-pointer clearAll" (click)="clearAllFilter()">Clear All</span>
                            <hr size="30">
                            <div *ngFor="let filter of filters">
                                <span class="cursor-pointer fw400" (click)="filter.showOptions = !filter.showOptions"><i [ngClass]="filter.showOptions == false ? 'fa fa-chevron-circle-right color-blue' : 'fa fa-chevron-circle-down color-blue'"></i> {{filter.name}}</span>
                                <div class="col-sm-12 pr0" *ngIf="filter.showOptions">
                                    <!-- <input type="checkbox"></input> -->
                                    <label class="custom-control custom-checkbox fs13 col-sm-12 fw300" *ngFor="let option of filter.options">
                                            <input type="checkbox" class="custom-control-input" value="option.id" [(ngModel)]="filterObject[filter.type][option.id]" (change)="applyFilter(filter.type, option.id)"> <span class="track-clr-bx" *ngIf="filter.type == 'sessionTrack'" [ngStyle]="{'border-left': ('7px solid '+ option.color)}"></span>{{option.name}} 
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description"></span>
                                    </label>
                                    <!-- <label *ngFor="let option of filter.options" class="fs13"><input type="checkbox" value="option.id" (change)="applyFilter(filter.type, option.id)"/> {{option.name}}</label> -->
                                </div>
                            </div>
                        </div>
                    </div>        
                </div>
                <div class="col-sm-10 pl0">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-panel active" id="reg">
                            <div class="card">
                                <div class="card-block">
                                    <div class="row">
                                            <div class="col-sm-10">
                                                <div class="device-margin">
                                                    <input type="text" class="form-control search-input"  [(ngModel)]="filterArrayObject['term']" placeholder="Search" (keyup.enter)="getSessionData()">
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="device-margin">
                                                    <button class="btn btn-blue cursor-pointer" (click)="getSessionData()">Search</button> 
                                                </div>
                                                <div class="dropdown">
                                                    <span class="sort" data-toggle="dropdown"><i class="fa fa-filter fa-2x"></i></span>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" (click)="setSortBy('duration')"><i [ngClass]="(sortField == 'duration') ? 'fa fa-check color-blue' : 'fa fa-checka pl15 color-blue'" ></i> Duration</a>
                                                        <a class="dropdown-item" (click)="setSortBy('levelName')"><i [ngClass]="(sortField == 'levelName') ? 'fa fa-check color-blue' : 'fa fa-checka pl15 color-blue'" ></i> Level Name</a>
                                                        <a class="dropdown-item" (click)="setSortBy('locationName')"><i [ngClass]="(sortField == 'locationName') ? 'fa fa-check color-blue' : 'fa fa-checka pl15 color-blue'" ></i> Location Name</a>
                                                        <a class="dropdown-item" (click)="setSortBy('name')"><i [ngClass]="(sortField == 'name') ? 'fa fa-check color-blue' : 'fa fa-checka pl15 color-blue'" ></i> Name</a>
                                                        <a class="dropdown-item" (click)="setSortBy('startTime')"><i [ngClass]="(sortField == 'startTime') ? 'fa fa-check color-blue' : 'fa fa-checka pl15 color-blue'" ></i> Start Time</a>
                                                        <a class="dropdown-item" (click)="setSortBy('statusName')"><i [ngClass]="(sortField == 'statusName') ? 'fa fa-check color-blue' : 'fa fa-checka pl15 color-blue'" ></i> Status Name</a>
                                                        <a class="dropdown-item" (click)="setSortBy('tagName')"><i [ngClass]="(sortField == 'tagName') ? 'fa fa-check color-blue' : 'fa fa-checka pl15 color-blue'" ></i> Tag Name</a>
                                                        <a class="dropdown-item" (click)="setSortBy('trackName')"><i [ngClass]="(sortField == 'trackName') ? 'fa fa-check color-blue' : 'fa fa-checka pl15 color-blue'" ></i> Track Name</a>
                                                        <a class="dropdown-item" (click)="setSortBy('typeName')"><i [ngClass]="(sortField == 'typeName') ? 'fa fa-check color-blue' : 'fa fa-checka pl15 color-blue'" ></i> Type Name</a>
                                                    </div>
                                                </div>
                                            </div>  
                                            
                                              
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="card mt10">
                                <div class="card-block listCard">
                                    <div class="row">
                                        <div class="col-sm-12">
                                                <ul class="scheduleday_wrapper tab">
                                                        <li data-tab="day-1" class="scheduleday_title">
                                                            <div class="scheduleday_title_content">
                                                                <h6 style="color:;">Day 1</h6>
                                                                <div class="scheduleday_desc" style="color:;">Sunday, October 28th
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li data-tab="day-2" class="scheduleday_title">
                                                            <div class="scheduleday_title_content">
                                                                <h6 style="color:;">Day 2</h6>
                                                                <div class="scheduleday_desc" style="color:;">Monday, October 29th
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li data-tab="day-3" class="scheduleday_title active">
                                                            <div class="scheduleday_title_content">
                                                                <h6 style="color:;">Day 3</h6>
                                                                <div class="scheduleday_desc" style="color:;">Tuesday, October 30th
                                                                </div>
                                                            </div>
                                                        </li>
                                                </ul>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>             -->
                            <div class="card mt10">
                                <div class="card-block sessionDataBlock">
                                    <div class="row" *ngIf="(sessionData == null || sessionData.length == 0) && !listLoading">
                                        <div class="col-sm-12">
                                            <h6>No Record Found.</h6>
                                        </div>
                                    </div>    
                                    <div class="row" *ngIf="sessionData != null && sessionData.length > 0">
                                        <div class="col-sm-12 plr10" *ngFor="let data of sessionData">
                                            <div class="col-sm-12 pl0 pr0 plr10 sessionBox fw300" [ngStyle]="{'border-left': ('7px solid '+ data.trackColor)}">
                                                <div style="width : 80%" class="ellipses">
                                                    <a class="cursor-pointer regular-strong" style="width : 100%" ngbTooltip="{{data.name}}" placement="bottom" (click)="data.showDetails = !data.showDetails"><i [ngClass]="(data.showDetails == null || data.showDetails == false) ? 'fa fa-chevron-circle-right dropLink color-blue' : 'fa fa-chevron-circle-down dropLink color-blue'" ></i> {{data.name}} [{{data.code}}]</a>  
                                                </div>
                                                <div><i [ngClass]="(data.isFav == null || data.isFav == false) ? 'fa fa-star-o cursor-pointer pull-right fav' : 'fa fa-star   cursor-pointer  fav pull-right'" (click)="data.isFav = !data.isFav">
                                                        <span class="duration">
                                                            <!-- {{data.duration}} Minutes -->
                                                        <div class="progress" style="width : 100px;">
                                                                <div class="progress-bar progress-bar-success" ngbTooltip="{{getHours(data.duration)}}" role="progressbar"
                                                                aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': getProgressmaxValue(data.duration)}">
                                                                    <!-- {{getProgressmaxValue(data.duration)}} -->
                                                                </div>
                                                              </div>    
                                                </span></i> </div>
                                                <!--  --> 
                                                <p class="mb0 text-muted pl20"><i class="fa fa-clock-o">&nbsp;</i>{{getStartEndDate(data.startTime, data.endTime)}} <span class="pipe">|</span><span>&nbsp;<i class="fa fa-map-marker">&nbsp;</i>{{data.locationName}}</span></p>
                                                <p class="mb0 subHeading pl20" style="margin-bottom: 5px !important; margin-top: 5px !important;" *ngIf="data.showDetails">{{data.description}}</p>
                                                <div *ngIf="data.showDetails" class="pl20">
                                                    <div class="col-sm-12 pl0 pr0">
                                                        <p class="mb5 separator pb3 subHeading" *ngIf="data.showDetails"><i class="fa fa-users">&nbsp;</i><b>SPEAKERS</b></p>
                                                        <span class="mb0" *ngFor="let speaker of data.speakers"><span class="speakerName" (click)="openSpeaker(headerPicker, speaker)">{{speaker.speakerFName}} {{speaker.speakerLName}}</span> |</span>
                                                    </div>
                                                    <p class="mb0 mt10 subHeading"><b>Type:</b> {{data.typeName}}</p>
                                                    <!-- <p class="mb0 mt10 subHeading"><b>Location:</b> {{data.locationName}}</p> -->
                                                    <p class="mb0 mt10 subHeading"><b>Track:</b> {{data.trackName}}</p>
                                                    <p class="mt10 subHeading" *ngIf="data.trackname == 'Hands on Lab' || data.trackname == 'Activity' || data.trackname == 'Workshop'"><b>Fee:</b>${{data.trackColor}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>


    <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" (click)="hideCart()">&times;</a>
            <div class="row">
                <div class="col-sm-12">
                    
                </div>
            </div>
    </div>