<app-navbar></app-navbar>
<div id="side-panel" class="visible">
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-sm-12">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-panel active" id="reg">
                        <div class="card">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <h3 class="card-title">Your Event's Check-In</h3>
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-default">Save</button>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-default">Cancel</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="card mt10">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h6 class="card-title">Banner Image</h6>
                                    </div>
                                    <div class="col-12">
                                        <img class="wp100" src="../../../assets/images/banner.jpg"/>
                                    </div>
                                    <div class="col-12">
                                        <br/>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Temporary Access Code</label>
                                            <input type="text" class="form-control" id="temporaryAccessCode" aria-describedby="temporaryAccessCode" placeholder="Temporary Access Code">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Start Date &amp; Time</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="10/16/17">
                                                        <label class="input-group-btn mb0">
                                                        <button type="submit" class="btn btn-default"><span class="fa fa-calendar"></span></button>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>&nbsp;</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="2:30 PM">
                                                        <label class="input-group-btn mb0">
                                                        <button type="submit" class="btn btn-default"><span class="fa fa-clock-o"></span></button>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>End Date &amp; Time</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="10/16/17">
                                                        <label class="input-group-btn mb0">
                                                        <button type="submit" class="btn btn-default"><span class="fa fa-calendar"></span></button>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>&nbsp;</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="2:30 PM">
                                                        <label class="input-group-btn mb0">
                                                        <button type="submit" class="btn btn-default"><span class="fa fa-clock-o"></span></button>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt10">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-8">
                                      <h3 class="panel-title">Check-in Questions</h3>
                                    </div>
                                    <div class="col-sm-4">
                                      <div class="pull-right">
                                        <a href="#" ><span class="fa fa-plus-circle fa-2x clr-cyan"></span></a>
                                      </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="pull-left">
                                                            Question !
                                                        </div>
                                                        <div class="pull-right">
                                                            <button (click)="toogleDivById('body1')"></button>
                                                        </div>        
                                                    </div>    
                                                </div>
                                            </div>
                                            <div class="card-body hide" [attr.id]="'body1'">
                                                <div class="col-12">
                                                            Body
                                                </div>    
                                            </div>    
                                        </div>  
                                    </div>  
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>