<app-navbar></app-navbar>
<div id="side-panel" class="visible">
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-sm-12">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-panel active" id="reg">
                        <div class="card">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <h3 class="card-title">Your Event's Check-In</h3>
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-default">Save</button>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-default">Cancel</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>